form { margin: 20px 0 5px 0;

  .avatar { position: relative; margin-bottom: 10px;

    .btn-avatar { height: 25px; }

    input[type='file'] { opacity: 0; position: absolute; left: 50%; margin: 5px 0 0 -56px; width: 112px; height: 45px; z-index: -1; }
  }
}